		body {
			font-family: Meiryo;
		}

		h1 {
			font-size: 22px;
		}

		.telop {
			font-size: 24px;
			font-weight: bold;
			display: inline-block;
			position: relative;
			background: linear-gradient(to right, #000 0,#000 0px,#ffffff 0px,#ffffff 100%);
			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.line {
			position: relative;
		}

		.shadow {
			font-size: 24px;
			font-weight: bold;
			text-shadow: -1px -1px #333, 1px -1px #333, -1px 1px #333, 1px 1px #333;
			color: transparent;
			left: 0;
			top: 0;
			position: absolute;
		}